﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<style>
    .qun-l-cng-vic-xem-lch-l-child {
        position: absolute;
        top: 490px;
        left: 0;
        background-color: var(--color-forestgreen-200);
        width: 289px;
        height: 534px;
        overflow: hidden;
    }

    .binh-minh-hotel5 {
        position: absolute;
        top: 0;
        left: 148px;
        display: inline-block;
        width: 279px;
        height: 111px;
    }

    .group-child10,
    .group-child9 {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: var(--br-3xs);
        background-color: var(--color-white);
        border: 1px solid var(--color-black);
        box-sizing: border-box;
        width: 160px;
        height: 50px;
    }

    .group-child10 {
        left: 170px;
    }

    .i-mt-khu5,
    .ng-xut5 {
        position: absolute;
        top: 13px;
        left: 21px;
        font-weight: 500;
        display: inline-block;
        width: 134px;
        height: 28px;
        cursor: pointer;
    }

    .ng-xut5 {
        left: 202px;
        width: 116px;
    }

    .rectangle-parent1 {
        position: absolute;
        top: 35px;
        left: 1070px;
        width: 330px;
        height: 50px;
        font-size: var(--font-size-xl);
        color: var(--color-black);
        font-family: var(--font-inter);
    }

    .binh-minh-hotel-parent2 {
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--color-forestgreen-300);
        width: 1440px;
        height: 120px;
        overflow: hidden;
        font-size: var(--font-size-31xl);
        font-family: var(--font-irish-grover);
    }

    .istockphoto-1420738401-170667a-icon5 {
        position: absolute;
        top: 13px;
        left: 15px;
        width: 107px;
        height: 96px;
        object-fit: cover;
    }

    .thng-tin-c-nhn-child8 {
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--color-darkslategray);
        width: 287.7px;
        height: 90px;
    }

    .qun-l-h2 {
        position: absolute;
        top: 32px;
        left: 70px;
        font-weight: 500;
        display: inline-block;
        width: 221px;
        height: 32px;
        cursor: pointer;
    }

    .lch-lm-vic-child3,
    .thng-tin-c-nhn10 {
        position: absolute;
        top: 220px;
        left: 1px;
        width: 291px;
        height: 90px;
    }

    .lch-lm-vic-child3 {
        top: 0;
        left: 0;
        background-color: var(--color-darkslategray);
        width: 289px;
    }

    .qun-l-phng2 {
        position: absolute;
        top: 32px;
        left: 48px;
        font-weight: 500;
        display: inline-block;
        width: 204.6px;
        height: 40px;
        cursor: pointer;
    }

    .lch-lm-vic8,
    .qun-l-cng-vic-xem-lch-l-item {
        position: absolute;
        top: 310px;
        left: 0;
        width: 289px;
        height: 90px;
    }



    .qun-l-cng-vic-xem-lch-l-item {
        top: 400px;
        background-color: var(--color-black);
    }

    .qun-l-cng3 {
        margin: 0;
    }

    .qun-l-cng-container2 {
        position: absolute;
        top: 429px;
        left: 53px;
        font-weight: 500;
        display: inline-block;
        width: 188px;
        height: 39px;
    }

    .qun-l-cng4,
    .xem-lch-lm1 {
        position: absolute;
        font-weight: 600;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .qun-l-cng4 {
        top: -1px;
        left: 12px;
        width: 192px;
        height: 30px;
        cursor: pointer;
    }

    .xem-lch-lm1 {
        top: -2px;
        left: 210px;
        white-space: pre-wrap;
        width: 198px;
        height: 31px;
    }

    .qun-l-cng-vic-parent {
        position: absolute;
        top: 140px;
        left: 311px;
        background-color: var(--color-honeydew);
        width: 1104px;
        height: 32px;
        overflow: hidden;
        text-align: center;
        font-size: var(--font-size-xl);
        color: var(--color-black);
    }

    .qun-l-cng-vic-xem-lch-l-inner {
        position: absolute;
        top: 310px;
        left: 311px;
        width: 1099px;
        height: 678px;
    }

    .thng-tin-c-nhn-child9 {
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--color-darkslategray);
        width: 288px;
        height: 100px;
    }

    .n-1-icon5,
    .thng-tin-c-nhn11 {
        position: absolute;
        top: 120px;
        left: 1px;
        width: 288px;
        height: 100px;
    }

    .n-1-icon5 {
        top: 140px;
        left: 31px;
        width: 75px;
        height: 75px;
        object-fit: cover;
    }

    .ngay {
        color: black; /* Màu chữ của placeholder */
        font-weight: bold; /* Chữ đậm của placeholder */
    }

    .ngaylamviec::placeholder {
        color: black; /* Màu chữ của placeholder */
    }

    .user021 {
        position: absolute;
        top: 164px;
        left: 120px;
        display: inline-block;
        text-align: center;
        width: 139px;
        height: 45px;
    }

    .ngaylamviec {
        position: absolute;
        top: 195px;
        left: 1000px;
        width: 150px;
        overflow: hidden;
        height: 25px;
        padding: 5px;
        border-radius: 10px;
        font-size: 24px;
        font-family: var(--font-inter);
    }

    .qun-l-cng-vic-xem-lch-l-inner {
        position: absolute;
        top: 310px;
        left: 311px;
        width: 1099px;
        height: 678px;
    }

    .searchButton {
        position: absolute;
        top: 200px;
        left: 900px;
        width: 150px;
        height: 30px; /* Chiều cao phải đủ lớn để hiển thị placeholder */
        overflow: hidden; /* Ẩn bất kỳ nội dung nào vượt quá phần tử */
        white-space: nowrap;
    }

    .chinhsua {
    }

    .submit {
        position: absolute;
        top: 200px;
        left: 1200px;
        width: 150px;
        height: 30px; /* Chiều cao phải đủ lớn để hiển thị placeholder */
        overflow: hidden; /* Ẩn bất kỳ nội dung nào vượt quá phần tử */
        white-space: nowrap; /* Ngăn placeholder bị xuống dòng */
    }

    .ngay {
        position: absolute;
        top: 200px;
        left: 890px;
        width: 150px;
        height: 30px; /* Chiều cao phải đủ lớn để hiển thị placeholder */
        overflow: hidden; /* Ẩn bất kỳ nội dung nào vượt quá phần tử */
        white-space: nowrap; /* Ngăn placeholder bị xuống dòng */
    }

    .qun-l-cng-vic-xem-lch-l {
        width: 100%;
        position: relative;
        height: 1024px;
        overflow: hidden;
        background-image: url(https://scontent.fdad3-1.fna.fbcdn.net/v/t1.15752-9/435229924_1387605835555899_1676943816951711557_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeH-hduBPulx8BUfEDVtA6eeAnEj3tDXrhwCcSPe0NeuHCIB5UgzYlt5zBgKQ2bQ3LL2aUd92XNbkmUq7xUHA-XE&_nc_ohc=nYt1abA6-owQ7kNvgHCBgnX&_nc_ht=scontent.fdad3-1.fna&oh=03_Q7cD1QH8bJYqnFQFcrfNbjaTD5AoBllYDfpYGwcaQz5M77ELCA&oe=665B195D);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        text-align: left;
        font-size: var(--font-size-3xl);
        color: var(--color-white);
        font-family: var(--font-inter);
    }

    .dang-xuat-link {
        position: absolute;
        top: 45px;
        right: 140px;
        font-weight: 500;
        display: inline-block;
        font-size: var(--font-size-xl); /* Điều chỉnh kích thước chữ */
        color: black; /* Màu chữ */
        font-family: var(--font-inter); /* Kiểu font chữ */
        text-decoration: none; /* Loại bỏ gạch chân */
    }

    .table-container {
        position: absolute;
        top: 60%; /* Đưa phần tử lên trên 50% của trang */
        left: 60%; /* Đưa phần tử sang trái 50% của trang */
        transform: translate(-50%, -50%); /* Dịch chuyển phần tử đi lùi 50% của nó */
        width: 90%; /* Độ rộng của bảng */
        max-width: 1000px; /* Giới hạn chiều rộng tối đa của bảng */
        color: black;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

        .table th, .table td {
            padding: 12px 15px;
            text-align: left;
        }

        .table thead th {
            background-color: antiquewhite;
            border-bottom: 2px solid #dee2e6;
        }

        .table tbody tr:nth-child(even) {
            background-color: #f3f4f6;
        }

        .table tbody tr:hover {
            background-color: #e2e6ea;
        }

    .btAdd {
        position: absolute;
        top: 190px;
        left: 1250px;
        width: 110px;
        height: 30px;
        font-size: 24px;
        border-radius: 5px;
        background-color: var(--color-white);
        text-decoration: none; /* Loại bỏ gạch chân */
        font-family: Arial, sans-serif; /* Chọn font chữ */
        color: black;
        border: 2px solid var(--color-black); /* Viền nút */
        padding: 10px 10px; /* Khoảng cách giữa nội dung và viền */
        cursor: pointer; /* Hiển thị con trỏ khi di chuột vào nút */
        text-align: center; /* Căn giữa chữ */
    }

    .btxep {
        position: absolute;
        top: 190px;
        left: 1000px;
        width: 200px;
        height: 30px;
        font-size: 24px;
        border-radius: 5px;
        background-color: var(--color-white);
        text-decoration: none; /* Loại bỏ gạch chân */
        font-family: Arial, sans-serif; /* Chọn font chữ */
        color: black;
        border: 2px solid var(--color-black); /* Viền nút */
        padding: 10px 10px; /* Khoảng cách giữa nội dung và viền */
        cursor: pointer; /* Hiển thị con trỏ khi di chuột vào nút */
        text-align: center; /* Căn giữa chữ */
    }
    body {
        margin: 0;
        line-height: normal;
    }

    :root {
        /* fonts */
        --font-inter: Inter;
        --font-irish-grover: "Irish Grover";
        /* font sizes */
        --font-size-3xl: 22px;
        --font-size-xl: 20px;
        --font-size-31xl: 50px;
        --font-size-11xl: 30px;
        --font-size-21xl: 40px;
        --font-size-5xl: 24px;
        --font-size-29xl: 48px;
        /* Colors */
        --color-white: #fff;
        --color-darkslategray: rgba(48, 46, 46, 0.89);
        --color-honeydew: #e2ffe1;
        --color-black: #000;
        --color-forestgreen-100: #31a227;
        --color-forestgreen-200: rgba(39, 162, 58, 0.8);
        --color-forestgreen-300: rgba(49, 162, 39, 0.8);
        --color-limegreen: #2dd01e;
        /* Border radiuses */
        --br-3xs: 10px;
        --br-8xs: 5px;
        --br-xl: 20px;
    }
</style>
<body>
    <div class="qun-l-cng-vic-xem-lch-l">
        <div class="qun-l-cng-vic-xem-lch-l-child"></div>
        <div class="binh-minh-hotel-parent2">
            <div class="binh-minh-hotel5">BINH MINH HOTEL</div>
            <div class="rectangle-parent1">
                <div class="group-child9"></div>
                <div class="group-child10"></div>
                <div class="i-mt-khu5" id="iMtKhu">Đổi mật khẩu</div>
                <a asp-controller="Login" asp-action="Logout" class="dang-xuat-link" style="position: absolute; font-weight: 500;
            display: inline-block; top: 13px; right: 45px;">Đăng xuất</a>
            </div>
        </div>
        <img class="istockphoto-1420738401-170667a-icon5"
             alt=""
             src="https://scontent.fdad3-1.fna.fbcdn.net/v/t1.15752-9/434534001_1448732405736076_2728451762103298305_n.png?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeELIMxQW_20PbqvrN_Laesa3i0KWcVikJ_eLQpZxWKQn5ANGfV59GLmC_gCpYHKR6n1pkGFUOFXN7xtrfKYOuxS&_nc_ohc=omjHx4n50lYQ7kNvgEGrgiN&_nc_ht=scontent.fdad3-1.fna&oh=03_Q7cD1QGE8QM12JKsRYENqDdje-3szUmO1E_h_Y4YHuOU5d5AMA&oe=665B1E3E" />
        <div>
            <a asp-controller="Quanly" asp-action="themcongviec" class="btAdd" ;">Thêm mới</a>
            <a asp-controller="Quanly" asp-action="Sapxepcongviec" class="btxep" ;">Xếp lịch làm việc</a>
            @* <button class="btAdd" id="btAdd">Thêm hồ sơ</button> *@
        </div>

        <div class="thng-tin-c-nhn10">
            <div class="thng-tin-c-nhn-child8"></div>
            <div class="qun-l-h2" id="qunLH">Quản lý hồ sơ</div>
        </div>
        <div class="lch-lm-vic8">
            <div class="lch-lm-vic-child3"></div>
            <div class="qun-l-phng2" id="qunLPhng">Quản lý phòng ban</div>
        </div>
        <div class="qun-l-cng-vic-xem-lch-l-item"></div>
        <div class="qun-l-cng-container2">
            <p class="qun-l-cng3">Quản lý công việc</p>
        </div>
        <div class="qun-l-cng-vic-parent">
            <div class="qun-l-cng4" id="qunLCng">Quản lý công việc</div>
            <div class="xem-lch-lm1">&gt; Công việc</div>
        </div>
        @* @using (Html.BeginForm("Lichlamviec", "Quanly", FormMethod.Post))
        {

            <div class="ngay">Chọn ngày</div>
            <div> <input class="ngaylamviec" id="myID" name="strSearch" placeholder="Chọn ngày"> </div>
            <div><button class="submit" type="submit">Tìm kiếm</button></div>

        }
 *@

        <img class="qun-l-cng-vic-xem-lch-l-inner"
             alt=""
             src="https://d1xzdqg8s8ggsr.cloudfront.net/6634b231c9ce15e41a24b47b/f1dd8684-a9a0-44da-b785-c8904b6e1f78_1715279412456676883?Expires=-62135596800&Signature=PghHyDNLDWZbHVu7vo4ggpIJ9v-0Ix-eGdmYkBnHhcoduYe4jmIsN1AECaROA-Ct1NMem6Mp6DbNaX3YHXsmFHsy4Nu1ohvwDElSU10UA4UFnYNC7xhrmFW9wHEu10VgfJTNdFbPaU05MIGlsvmTE7liMVwJKuiWNYumhhAwiycrBPDzPuD9SbdKhG8Tq43XccnsJju1lmLWc-WS4pyHgnU3JnATWRMLg2IH0SfLxbIc6P3B8bpGAQA6wLCFsyfTkPQ2O7s6tKrBV2YsHzZ-g~zM8Y1bgL1xqM3wCVl58RTbzFggg70nfbeS0dkkQP1vDMXYFaQA9TgnX-b4nzwJTQ__&Key-Pair-Id=K1P54FZWCHCL6J" />
        </input>
        @if (ViewBag.cv != null && ViewBag.cv.Count > 0)
        {
            <div class="table-container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Mã công việc</th>
                            <th> Chi tiết công việc</th>
                            <th> Ca làm</th>
                           <th> Tác vụ </th>
              
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var congViec in ViewBag.cv)
                        {
                            <tr>
                                <td>@congViec.MaCongViec</td>
                                <td>@congViec.ChiTietCongViec</td>
                                <td>@congViec.CaLam</td>
                                <td>
                                    @Html.ActionLink("Chỉnh sửa", "Chinhsuacongviec", new { id = congViec.MaCongViec });
                                    @Html.ActionLink("  Xóa", "Xoacongviec", new { id = congViec.MaCongViec });

                                    <button type="button" class=" btn-danger" onclick="window.location.href='@Url.Action( "Chinhsuacongviec", "Quanly", new { id = congViec.MaCongViec })'">Chỉnh sửa</button>
                                    <button type="button" class=" btn-danger" onclick="window.location.href='@Url.Action("xoacongviec", "Quanly", new { id = congViec.MaCongViec })'">Xóa</button>

                                </td>
                          
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>Danh sách công việc trống.</p>
        }

        <div class="thng-tin-c-nhn11">
            <div class="thng-tin-c-nhn-child9"></div>
        </div>
        <img class="n-1-icon5"
             alt=""
             src="https://scontent.fdad3-6.fna.fbcdn.net/v/t1.15752-9/435130161_653072980295404_4271028034475173711_n.png?_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeG8tk7KTjd7wcwF73zG-ynne93imBE8o2Z73eKYETyjZo30U7apSA5kMEvsTjqngkAAgoe4i1Cp2ORyFPureElV&_nc_ohc=-iM-PodUooYQ7kNvgH1xpYI&_nc_ht=scontent.fdad3-6.fna&oh=03_Q7cD1QGt1yGXxBJ2aN6rnikrioL4A70c21EVcZ7azsHq3fbtgg&oe=665B1BA9" />

      @*   <a asp-controller="Quanly" asp-action="Chinhsua" class="chinh_sua" ;">Đăng xuất</a> *@
        <b class="user021">User02</b>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
   
    <script>
        var iMtKhu = document.getElementById("iMtKhu");
        if (iMtKhu) {
            iMtKhu.addEventListener("click", function (e) {
                // Please sync "Đổi mật khẩu - ql" to the project
            });
        }


        var qunLH = document.getElementById("qunLH");
        if (qunLH) {
            qunLH.addEventListener("click", function (e) {
                window.location.href = "https://localhost:7221/Quanly/quanlyhoso";
            });
        }

        var qunLPhng = document.getElementById("qunLPhng");
        if (qunLPhng) {
            qunLPhng.addEventListener("click", function (e) {
                window.location.href = "https://localhost:7221/Quanly/Phongban";
            });
        }

        var qunLCng = document.getElementById("qunLCng");
        if (qunLCng) {
            qunLCng.addEventListener("click", function (e) {
                window.location.href = "https://localhost:7221/Quanly/Quanlycongviec";
            });
        }
    </script>
</body>
</html>