@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./qun-l-phng-ban.css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Irish Grover:wght@400&display=swap" />
    <style>
        body {
            margin: 0;
            line-height: normal;
        }

        :root {
            /* fonts */
            --font-inter: Inter;
            --font-irish-grover: "Irish Grover";
            /* font sizes */
            --font-size-base: 16px;
            --font-size-xl: 20px;
            --font-size-3xl: 22px;
            --font-size-31xl: 50px;
            /* Colors */
            --color-black: #000;
            --color-darkseagreen: #bfeeb4;
            --color-gainsboro: #d9d9d9;
            --color-white: #fff;
            --color-honeydew: #e2ffe1;
            --color-darkslategray: rgba(48, 46, 46, 0.89);
            --color-forestgreen-100: rgba(39, 162, 58, 0.8);
            --color-forestgreen-200: rgba(49, 162, 39, 0.8);
            /* Border radiuses */
            --br-mini: 15px;
            --br-3xs: 10px;
        }


        .rectangle-icon,
        .user02 {
            position: absolute;
            top: 0;
            left: 0;
            width: 286px;
            height: 100px;
        }

        .user02 {
            top: 36.5px;
            left: 58.8px;
            display: inline-block;
            width: 172.4px;
            height: 44.8px;
        }

        .n-1-icon1 {
            position: absolute;
            top: 13px;
            left: 54.4px;
            width: 74.2px;
            height: 75px;
            object-fit: cover;
        }

        .vector-group {
            position: absolute;
            top: 120px;
            left: 0;
            width: 286px;
            height: 100px;
            text-align: right;
        }

        .binh-minh-hotel1 {
            position: absolute;
            top: 0;
            left: 148px;
            display: inline-block;
            width: 279px;
            height: 111px;
        }

        .home {
            position: absolute;
            top: 25px;
            left: 1250px;
            width: 70px;
            height: 70px;
            cursor: pointer;
        }

        .group-child5,
        .group-child6,
        .group-child7 {
            position: absolute;
            top: 0;
            left: 0;
            border-radius: var(--br-3xs);
            background-color: var(--color-white);
            border: 1px solid var(--color-black);
            box-sizing: border-box;
            width: 160px;
            height: 50px;
            cursor: pointer;
        }

        .group-child6,
        .group-child7 {
            left: 170px;
        }

        .group-child7 {
            left: 340px;
        }

        .i-mt-khu1,
        .ng-xut1,
        .trang-ch1 {
            position: absolute;
            top: 13px;
            left: 33px;
            font-weight: 500;
            display: inline-block;
            width: 116px;
            height: 28px;
        }

        .i-mt-khu1,
        .ng-xut1 {
            left: 191px;
            width: 134px;
        }

        .ng-xut1 {
            left: 372px;
            width: 116px;
        }

        .rectangle-parent1 {
            position: absolute;
            top: 35px;
            left: 900px;
            width: 500px;
            height: 50px;
            cursor: pointer;
            font-size: var(--font-size-xl);
            color: var(--color-black);
            font-family: var(--font-inter);
        }

        .binh-minh-hotel-group {
            position: absolute;
            top: 0;
            left: 0;
            background-color: var(--color-forestgreen-200);
            width: 1440px;
            height: 120px;
            overflow: hidden;
            font-size: var(--font-size-31xl);
            font-family: var(--font-irish-grover);
        }

        .istockphoto-1420738401-170667a-icon1 {
            position: absolute;
            top: 13px;
            left: 15px;
            width: 107px;
            height: 96px;
            object-fit: cover;
        }

        .thng-tin-c-nhn-item {
            position: absolute;
            top: 0;
            left: 0;
            background-color: var(--color-darkslategray);
            width: 286px;
            height: 90px;
        }

        .qun-l-h {
            position: absolute;
            top: 32px;
            left: 71px;
            font-weight: 500;
            display: inline-block;
            width: 218px;
            height: 32px;
        }

        .lch-lm-vic-item,
        .thng-tin-c-nhn1 {
            position: absolute;
            left: 0;
            height: 90px;
        }

        .thng-tin-c-nhn1 {
            top: 220px;
            width: 289px;
            cursor: pointer;
        }

        .lch-lm-vic-item {
            top: 0;
            background-color: var(--color-black);
            width: 286px;
        }

        .qun-l-phng {
            position: absolute;
            top: 32px;
            left: 47.5px;
            font-weight: 500;
            display: inline-block;
            width: 202.5px;
            height: 40px;
        }

        .lch-lm-vic3,
        .qun-l-phng-ban-child {
            position: absolute;
            top: 310px;
            left: 0;
            width: 286px;
            height: 90px;
        }

        .qun-l-phng-ban-child {
            top: 400px;
            background-color: var(--color-darkslategray);
            cursor: pointer;
        }

        .qun-l-cng {
            margin: 0;
        }

        .qun-l-cng-container {
            position: absolute;
            top: 429px;
            left: 53px;
            font-weight: 500;
            display: inline-block;
            width: 188px;
            height: 39px;
        }

        .bng1 {
            position: absolute;
            top: 278px;
            left: 313px;
            background-color: var(--color-white);
            width: 1108px;
            height: 718px;
            overflow: hidden;
        }

        .qun-l-phng1 {
            position: absolute;
            top: -1px;
            left: 12px;
            font-weight: 600;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            width: 192px;
            height: 30px;
        }

        .qun-l-phng-ban-wrapper {
            position: absolute;
            top: 140px;
            left: 311px;
            background-color: var(--color-honeydew);
            width: 1104px;
            height: 32px;
            overflow: hidden;
            text-align: center;
            font-size: var(--font-size-xl);
            color: var(--color-black);
        }

        .qun-l-phng-ban-item {
            position: absolute;
            top: 490px;
            left: 0;
            background-color: var(--color-forestgreen-100);
            width: 286px;
            height: 534px;
            overflow: hidden;
        }

        .qun-l-phng-ban {
            width: 100%;
            position: relative;
            height: 1024px;
            overflow: hidden;
            background-image: url(https://scontent.xx.fbcdn.net/v/t1.15752-9/440736727_353764851017798_6861426850163908646_n.png?stp=dst-png_s2048x2048&_nc_cat=104&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeG_YIx2Azp65Mlv-dfKlxjI6kTreHBItd_qROt4cEi1358fyfkOg6y7bITNqGZgKNTZUy9VIya2BAgq0Hso6FpA&_nc_ohc=61PmYi4qOdUQ7kNvgGcTv26&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_Q7cD1QHzVvD_VSyNEAJGFkh6Vz46mpJerJqlmDHvBKJEO5vzAQ&oe=66657BBA);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top;
            text-align: left;
            font-size: var(--font-size-3xl);
            color: var(--color-white);
            font-family: var(--font-inter);
        }
    </style>
</head>
<body>
    <div class="qun-l-phng-ban">
        <div class="vector-group">
            <img class="rectangle-icon" alt="" src="https://scontent.xx.fbcdn.net/v/t1.15752-9/440201234_1626054398227659_2339006340770070233_n.png?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHXw55fipvNRy3WknPEFHWmFxo5UHAbJpoXGjlQcBsmmkHlO5WaXS1sSGFjhoxVXEgEIXO5VzuJTTZtYaK3hcZf&_nc_ohc=E08ZnYnFgYwQ7kNvgESfJ19&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_Q7cD1QFsLDKWUdbqOQdqYJDrmoIKtVN1DR94Jq1jTmz1E6BoDw&oe=66657229" />

            <b class="user02">User02</b>
            <img class="n-1-icon1"
                 alt=""
                 src="https://scontent.xx.fbcdn.net/v/t1.15752-9/435264282_1107310530502381_1832007922840023753_n.png?stp=cp0_dst-png&_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGkaGa3xbADwxbD9rSckcFSJg-_qGl2dC4mD7-oaXZ0LjcNXf169KDmAOPpq4qMWk5_EPM1k0uEuIMxMTpMa4s_&_nc_ohc=6rRhPDRx88YQ7kNvgGLkIGB&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_Q7cD1QEYkKEAwVQejWVZy-aUxnudrtR5bCUX1ITEgMtKpQcePA&oe=66655F10" />
        </div>
        <div class="binh-minh-hotel-group">
            <div class="binh-minh-hotel1">BINH MINH HOTEL</div>
            <div class="home" id="home"></div>
            <div class="rectangle-parent1" id="groupContainer">
             @*    <div class="group-child5" id="rectangle"></div> *@
                <div class="group-child6" id="rectangle1"></div>
                <div class="group-child7" id="rectangle2"></div>
              @*   <div class="trang-ch1">Trang chủ</div> *@
                <a asp-controller="Doimatkhau" asp-action="Doimatkhau" class="doimatkhau" style="position: absolute; font-weight: 500;
            display: inline-block; top: 13px; right: 190px;text-decoration: none; color:black;">Đổi mật khẩu</a>
                <a asp-controller="Login" asp-action="Logout" class="dang-xuat-link" style="position: absolute; font-weight: 500;
            display: inline-block; top: 13px; right: 30px;text-decoration: none; color:black;">Đăng xuất</a>
            </div>
        </div>
        <img class="istockphoto-1420738401-170667a-icon1"
             alt=""
             src="https://scontent.xx.fbcdn.net/v/t1.15752-9/434534001_1448732405736076_2728451762103298305_n.png?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGjeQ92gKdHOdLGBTTsmL9O3i0KWcVikJ_eLQpZxWKQn54vjn1hliXtFFRCB4aZTqtGX_28Vs3lqsqjH76gMq_E&_nc_ohc=gQiDw6zaWwEQ7kNvgEGYzMg&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_Q7cD1QErVtcuNEr2XqXIT1vtD9d-XjyvN5kKdM5JJVxZlTOdCg&oe=666539BE" />

        <div class="thng-tin-c-nhn1" id="thngTinCNhn">
            <div class="thng-tin-c-nhn-item"></div>
            <a asp-controller="Quanly" asp-action="quanlyhoso" style="text-decoration: none; color:white;" class="qun-l-h">Quản lý hồ sơ</a>
            
        </div>
        <div class="lch-lm-vic3">
            <div class="lch-lm-vic-item"></div>
            <div class="qun-l-phng">Quản lý phòng ban</div>
        </div>
        <div class="qun-l-phng-ban-child" id="rectangle"></div>
        <div class="qun-l-cng-container">
            <a asp-controller="Quanly" asp-action="Quanlycongviec" style="text-decoration: none; color:white;" class="qun-l-cng">Quản lý công việc</a>
            
        </div>
        <div class="bng1"></div>
        <div class="qun-l-phng-ban-wrapper">
            <div class="qun-l-phng1">Quản lý phòng ban</div>
        </div>
        <div class="qun-l-phng-ban-item"></div>
        <h2 class="custom-heading">Danh sách nhân viên của phòng ban: @ViewBag.SelectedPhongBan</h2>


        <form asp-controller="Quanly" asp-action="DisplayNhanVienByPhongBan" method="post">
            <div class="form-group">
                <select class="form-control" id="phongBanSelect" name="selectedPhongBan">
                    <option value="">   Chọn phòng ban   </option>
                    @if (ViewBag.PhongBans != null)
                    {
                        foreach (var phongBan in ViewBag.PhongBans)
                        {
                            <option value="@phongBan.MaPhongBan">@phongBan.TenPhongBan</option>
                        }
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-primary">OK</button>
        </form>

        @if (ViewBag.DanhSachNhanVien != null && ViewBag.DanhSachNhanVien.Count > 0)
        {
            <div class="table-container">
                <table class="table" ;>
                    <thead>
                        <tr>
                            <th>Mã NV</th>
                            <th>Tên Nhân Viên</th>
                            <th>Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var nhanVien in ViewBag.DanhSachNhanVien)
                        {
                            <tr>
                                <td>@nhanVien.MaNv</td>
                                <td>@nhanVien.TenNhanVien</td>
                                <td>
                                    <button type="button" class="btn btn-danger" onclick="confirmDelete('@nhanVien.MaNv')">Xóa</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p></p>
        }

        <form id="addEmployeeForm" asp-controller="Quanly" asp-action="AddEmployeeToPhongBan" method="post">
            <input type="hidden" name="selectedPhongBan" value="@ViewBag.SelectedPhongBan" />

            <div class="form-group">
                <label for="maNv">Nhập Mã Nhân Viên:</label>
                <input type="text" class="form-control" id="maNv" name="maNv" required />
            </div>

            <button type="button" style="background-color:green"class="btn btn-primary" onclick="addEmployee()">Thêm Nhân Viên</button>
        </form>

        <div class="modal fade" id="addPhongBanModal" tabindex="-1" role="dialog" aria-labelledby="addPhongBanModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addPhongBanModalLabel">Thêm Phòng Ban Mới</h5>
                    </div>
                    <div class="modal-body">
                        <form id="addPhongBanForm" asp-controller="Quanly" asp-action="AddPhongBan" method="post">
                            <div class="form-group">
                                <label for="maPhongBan" class="label-maPhongBan">Mã Phòng Ban:</label>
                                <input type="text" class="form-control1" id="maPhongBan" name="maPhongBan" required />
                            </div>
                            <div class="form-group">
                                <label for="tenPhongBan" class="label-tenPhongBan">Tên Phòng Ban:</label>
                                <input type="text" class="form-control2" id="tenPhongBan" name="tenPhongBan" required />
                            </div>
                            <button type="submit" style="background-color:green" class="btn-themPHG">Thêm Phòng Ban</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <script>
       

        

      

        var groupContainer = document.getElementById("groupContainer");
        if (groupContainer) {
            groupContainer.addEventListener("click", function (e) {
                // Please sync "trang chủ quản lý" to the project
            });
        }

        var thngTinCNhn = document.getElementById("thngTinCNhn");
        if (thngTinCNhn) {
            thngTinCNhn.addEventListener("click", function (e) {
                window.location.href = "https://localhost:7221/Quanly/quanlyhoso";
            });
        }

        var rectangle = document.getElementById("rectangle");
        if (rectangle) {
            rectangle.addEventListener("click", function (e) {
                window.location.href = "https://localhost:7221/Quanly/Quanlycongviec";
            });
        }



        /* scrip của xóa nhân viên */
        function confirmDelete(maNv) {
            if (confirm('Bạn có chắc muốn xóa nhân viên có mã ' + maNv + ' không?')) {
                // Gửi yêu cầu xóa đến server bằng Ajax
                fetch('/Quanly/RemoveEmployeeFromPhongBan?maNv=' + maNv, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(response => {
                        if (response.ok) {
                            // Xóa thành công, có thể cập nhật lại danh sách nhân viên hoặc làm gì đó khác.
                            location.reload(); // Tải lại trang để cập nhật danh sách
                        } else {
                            alert('Có lỗi xảy ra khi xóa nhân viên.');
                        }
                    })
                    .catch(error => {
                        console.error('Lỗi:', error);
                        alert('Có lỗi xảy ra khi xóa nhân viên.');
                    });
            }
        }
        /* scrip của thêm nhân viên */
        function addEmployee() {
            var maNv = document.getElementById("maNv").value;
            var selectedPhongBan = document.querySelector('input[name="selectedPhongBan"]').value;

            // Gửi yêu cầu POST đến action AddEmployeeToPhongBan
            fetch(`/Quanly/AddEmployeeToPhongBan`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: `maNv=${encodeURIComponent(maNv)}&selectedPhongBan=${encodeURIComponent(selectedPhongBan)}`
            })
                .then(response => {
                    if (response.status === 200) {
                        // Hiển thị thông báo thành công khi chỉ nhận được phản hồi 200 OK
                        alert('Thêm nhân viên thành công!');
                        window.location.reload();
                    } else {
                        // Xử lý khi có lỗi trả về từ action
                        console.error('Có lỗi khi thêm nhân viên:', response.statusText);
                        alert('Có lỗi khi thêm nhân viên.');
                    }
                })
                .catch(error => {
                    console.error('Lỗi:', error);
                    alert('Có lỗi khi gửi yêu cầu.');
                });
        }
        /*scrip của thêm phong ban */
        document.getElementById('addPhongBanForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Ngăn chặn form tự động submit

            var maPhongBan = document.getElementById('maPhongBan').value;
            var tenPhongBan = document.getElementById('tenPhongBan').value;

            // Gửi yêu cầu POST để thêm phòng ban mới
            fetch('/Quanly/AddPhongBan', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: `maPhongBan=${encodeURIComponent(maPhongBan)}&tenPhongBan=${encodeURIComponent(tenPhongBan)}`
            })
                .then(response => {
                    if (response.ok) {
                        // Xử lý khi thêm phòng ban mới thành công
                        alert('Thêm phòng ban mới thành công!');
                        window.location.reload(); // Tải lại trang để cập nhật danh sách phòng ban
                    } else {
                        // Xử lý khi có lỗi khi thêm phòng ban mới
                        alert('Có lỗi khi thêm phòng ban mới.');
                    }
                })
                .catch(error => {
                    console.error('Lỗi:', error);
                    alert('Có lỗi khi gửi yêu cầu.');
                });
        });

    </script>


    <style>
        /* tọa độ tên phòng ban*/
        #phongBanSelect {
            font-size: 28px;
            position: relative;
            top: 130px;
            left: 350px;
        }
        /* tọa độ của bảng */
        .btn-primary {
            padding: 10px 10px;
            font-size: 14px;
            position: relative;
            top: 92px;
            left: 590px;
        }

        .custom-heading {
            font-size: 26px;
            position: relative;
            color: black;
            top: 270px;
            left: 350px;
        }

        .table-container {
            position: absolute;
            top: 410px;
            left: 370px;
            width: 80%;
            max-width: 1000px;
        }

        .table {
            width: 100%;
            border-collapse: collapse;
            color: black;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        }

            .table th, .table td {
                padding: 12px 15px;
                text-align: left;
            }

            .table thead th {
                background-color: antiquewhite;
                border-bottom: 2px solid #dee2e6;
            }

            .table tbody tr:nth-child(even) {
                background-color: #f3f4f6;
            }

            .table tbody tr:hover {
                background-color: #e2e6ea;
            }


        /* tọa độ của thêm nhân viên */
        #addEmployeeForm {
            position: absolute;
            top: 320px;
            left: 1170px;
            width: 200px;
            padding: 10px;
        }

            #addEmployeeForm button {
                top: -27px;
                left: -135px;
                width: 65%;
                padding: 6px;
                / border: none;
                border-radius: 5px;
                background-color: #007bff;
                color: white;
                cursor: pointer;
            }

            #addEmployeeForm label {
                color: black;
                font-size: 12px;
            }

        /* Toạo độ của thêm phong ban */
        .modal-body {
            position: relative;
        }

        .label-maPhongBan {
            position: absolute;
            top: -50px;
            left: 1040px;
            color: black;
            font-size: 14px;
        }

        .form-control1 {
            position: absolute;
            top: -30px;
            left: 1040px;
            width: 150px;
            padding: 3px;
        }

        .label-tenPhongBan {
            position: absolute;
            top: -50px;
            left: 1240px;
            color: black;
            font-size: 14px;
        }

        .form-control2 {
            position: absolute;
            top: -30px;
            left: 1240px;
            width: 150px;
            padding: 3px
        }

        .btn-themPHG {
            position: absolute; /* Đặt vị trí tuyệt đối cho nút thêm */
            top: 0px; /* Điều chỉnh vị trí top */
            left: 1040px; /* Điều chỉnh vị trí left */
            width: 120px; /* Chiều rộng của button */
            padding: 8px; /* Khoảng cách lề bên trong button */
            border: none; /* Loại bỏ viền của button */
            border-radius: 5px; /* Bo tròn góc của button */
            background-color: #007bff; /* Màu nền của button */
            color: white; /* Màu chữ của button */
            cursor: pointer; /* Đổi con trỏ chuột khi di chuột qua button */
        }
    </style>
</body>
</html>
