﻿@{
    Layout = null;
}

@{
    var congviec = ViewBag.Congviec;
    var nhanviens = ViewBag.Nhanviens;
}

<!DOCTYPE html>
<html>
<head>
    <!-- CSS Toastify -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <!-- JavaScript Toastify -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
</head>
<style>
    .qun-l-cng-vic-xem-lch-l-child {
        position: absolute;
        top: 490px;
        left: 0;
        background-color: var(--color-forestgreen-200);
        width: 289px;
        height: 534px;
        overflow: hidden;
    }

    .binh-minh-hotel5 {
        position: absolute;
        top: 0;
        left: 148px;
        display: inline-block;
        width: 279px;
        height: 111px;
    }

    .group-child10,
    .group-child9 {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: var(--br-3xs);
        background-color: var(--color-white);
        border: 1px solid var(--color-black);
        box-sizing: border-box;
        width: 160px;
        height: 50px;
    }

    .group-child10 {
        left: 170px;
    }

    .i-mt-khu5,
    .ng-xut5 {
        position: absolute;
        top: 13px;
        left: 21px;
        font-weight: 500;
        display: inline-block;
        width: 134px;
        height: 28px;
        cursor: pointer;
    }

    .ng-xut5 {
        left: 202px;
        width: 116px;
    }

    .rectangle-parent1 {
        position: absolute;
        top: 35px;
        left: 1070px;
        width: 330px;
        height: 50px;
        font-size: var(--font-size-xl);
        color: var(--color-black);
        font-family: var(--font-inter);
    }

    .binh-minh-hotel-parent2 {
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--color-forestgreen-300);
        width: 1440px;
        height: 120px;
        overflow: hidden;
        font-size: var(--font-size-31xl);
        font-family: var(--font-irish-grover);
    }

    .istockphoto-1420738401-170667a-icon5 {
        position: absolute;
        top: 13px;
        left: 15px;
        width: 107px;
        height: 96px;
        object-fit: cover;
    }

    .thng-tin-c-nhn-child8 {
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--color-darkslategray);
        width: 287.7px;
        height: 90px;
    }

    .qun-l-h2 {
        position: absolute;
        top: 32px;
        left: 70px;
        font-weight: 500;
        display: inline-block;
        width: 221px;
        height: 32px;
        cursor: pointer;
    }

    .lch-lm-vic-child3,
    .thng-tin-c-nhn10 {
        position: absolute;
        top: 220px;
        left: 1px;
        width: 291px;
        height: 90px;
    }

    .lch-lm-vic-child3 {
        top: 0;
        left: 0;
        background-color: var(--color-darkslategray);
        width: 289px;
    }

    .qun-l-phng2 {
        position: absolute;
        top: 32px;
        left: 48px;
        font-weight: 500;
        display: inline-block;
        width: 204.6px;
        height: 40px;
        cursor: pointer;
    }

    .lch-lm-vic8,
    .qun-l-cng-vic-xem-lch-l-item {
        position: absolute;
        top: 310px;
        left: 0;
        width: 289px;
        height: 90px;
    }



    .qun-l-cng-vic-xem-lch-l-item {
        top: 400px;
        background-color: var(--color-black);
    }

    .qun-l-cng3 {
        margin: 0;
    }

    .qun-l-cng-container2 {
        position: absolute;
        top: 429px;
        left: 53px;
        font-weight: 500;
        display: inline-block;
        width: 188px;
        height: 39px;
    }

    .qun-l-cng4,
    .xem-lch-lm1 {
        position: absolute;
        font-weight: 600;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .qun-l-cng4 {
        top: -1px;
        left: 12px;
        width: 192px;
        height: 30px;
        cursor: pointer;
    }

    .xem-lch-lm1 {
        top: -2px;
        left: 210px;
        white-space: pre-wrap;
        width: 198px;
        height: 31px;
    }

    .qun-l-cng-vic-parent {
        position: absolute;
        top: 140px;
        left: 311px;
        background-color: var(--color-honeydew);
        width: 1104px;
        height: 32px;
        overflow: hidden;
        text-align: center;
        font-size: var(--font-size-xl);
        color: var(--color-black);
    }

    .qun-l-cng-vic-xem-lch-l-inner {
        position: absolute;
        top: 310px;
        left: 311px;
        width: 1099px;
        height: 678px;
    }

    .thng-tin-c-nhn-child9 {
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--color-darkslategray);
        width: 288px;
        height: 100px;
    }

    .n-1-icon5,
    .thng-tin-c-nhn11 {
        position: absolute;
        top: 120px;
        left: 1px;
        width: 288px;
        height: 100px;
    }

    .n-1-icon5 {
        top: 140px;
        left: 31px;
        width: 75px;
        height: 75px;
        object-fit: cover;
    }

    .ngay {
        color: black; /* Màu chữ của placeholder */
        font-weight: bold; /* Chữ đậm của placeholder */
    }

    .ngaylamviec::placeholder {
        color: black; /* Màu chữ của placeholder */
    }

    .user021 {
        position: absolute;
        top: 164px;
        left: 120px;
        display: inline-block;
        text-align: center;
        width: 139px;
        height: 45px;
    }

    .ngaylamviec {
        position: absolute;
        top: 195px;
        left: 1000px;
        width: 150px;
        overflow: hidden;
        height: 25px;
        padding: 5px;
        border-radius: 10px;
        font-size: 24px;
        font-family: var(--font-inter);
    }

    .qun-l-cng-vic-xem-lch-l-inner {
        position: absolute;
        top: 310px;
        left: 311px;
        width: 1099px;
        height: 678px;
    }

    .searchButton {
        position: absolute;
        top: 200px;
        left: 900px;
        width: 150px;
        height: 30px; /* Chiều cao phải đủ lớn để hiển thị placeholder */
        overflow: hidden; /* Ẩn bất kỳ nội dung nào vượt quá phần tử */
        white-space: nowrap;
    }


    .btHuy {
        position: absolute;
        top: 600px;
        left: 500px;
        width: 200px;
        height: 30px;
        padding: 5px;
        border-radius: 10px;
        font-size: 24px;
        font-family: var(--font-inter);
    }

    .btn-primary {
        position: absolute;
        top: 750px; /* Adjust the top value to move the button up or down */
        left: 900px; /* Adjust the left value to move the button left or right */
        width: 200px; /* Width of the button */
        height: 50px; /* Height of the button */
        background-color: rgba(39, 162, 58, 0.8); /* Background color */
        color: white; /* Text color */
        border: 2px solid rgba(39, 162, 58, 0.8); /* Border color */
        padding: 10px 20px; /* Padding */
        text-align: center; /* Text alignment */
        font-size: 16px; /* Font size */
        border-radius: 5px; /* Border radius */
        cursor: pointer; /* Cursor style */
    }

    .huy {
        position: absolute;
        top: 750px; /* Adjust the top value to move the button up or down */
        left: 600px; /* Adjust the left value to move the button left or right */
        width: 200px; /* Width of the button */
        height: 50px; /* Height of the button */
        background-color: rgba(39, 162, 58, 0.8);
         /* Background color */
        color: white; /* Text color */
        border: 2px solid rgba(39, 162, 58, 0.8); /* Border color */
        padding: 10px 20px; /* Padding */
        text-align: center; /* Text alignment */
        font-size: 16px; /* Font size */
        border-radius: 5px; /* Border radius */
        cursor: pointer; /* Cursor style */
    }
    .macv {
        position: absolute;
        top: 400px;
        left: 600px;
        width: 300px;
        height: 30px;
        padding: 5px;
        border-radius: 10px;
        font-size: 24px;
        font-family: var(--font-inter);
    }

   

  
  

  
    .ngay {
        position: absolute;
        top: 200px;
        left: 890px;
        width: 150px;
        height: 30px; /* Chiều cao phải đủ lớn để hiển thị placeholder */
        overflow: hidden; /* Ẩn bất kỳ nội dung nào vượt quá phần tử */
        white-space: nowrap; /* Ngăn placeholder bị xuống dòng */
    }

    .qun-l-cng-vic-xem-lch-l {
        width: 100%;
        position: relative;
        height: 1024px;
        overflow: hidden;
        background-image: url(https://scontent.fdad3-1.fna.fbcdn.net/v/t1.15752-9/435229924_1387605835555899_1676943816951711557_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeH-hduBPulx8BUfEDVtA6eeAnEj3tDXrhwCcSPe0NeuHCIB5UgzYlt5zBgKQ2bQ3LL2aUd92XNbkmUq7xUHA-XE&_nc_ohc=nYt1abA6-owQ7kNvgHCBgnX&_nc_ht=scontent.fdad3-1.fna&oh=03_Q7cD1QH8bJYqnFQFcrfNbjaTD5AoBllYDfpYGwcaQz5M77ELCA&oe=665B195D);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        text-align: left;
        font-size: var(--font-size-3xl);
        color: var(--color-white);
        font-family: var(--font-inter);
    }

    .dang-xuat-link {
        position: absolute;
        top: 45px;
        right: 140px;
        font-weight: 500;
        display: inline-block;
        font-size: var(--font-size-xl); /* Điều chỉnh kích thước chữ */
        color: black; /* Màu chữ */
        font-family: var(--font-inter); /* Kiểu font chữ */
        text-decoration: none; /* Loại bỏ gạch chân */
    }

  
    .mytable {
        position: absolute;
        top: 200px;
        left: 0px;
        max-width: 100%; /* Độ rộng tối đa của bảng */
        overflow-x: auto; /* Tạo thanh cuộn ngang nếu bảng vượt quá chiều rộng */
        max-height: 1500px; /* Chiều cao tối đa của bảng (điều chỉnh theo nhu cầu của bạn) */
        overflow-y: auto; /* Tạo thanh cuộn dọc nếu bảng vượt quá chiều cao */
    }

    .custom-table {
        border-collapse: collapse;
        width: 800px;
    }

    .mytable thead {
        position: sticky;
        top: 0; /* Giữ phần head ở vị trí đầu tiên */
        z-index: 1; /* Đảm bảo phần head hiển thị trên cùng */
        background-color: #f2f2f2; /* Màu nền cho phần head */
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
        height: 20px;
        color: var(--color-black);
        font-size: 16px;
        background-color: var(--color-white);
    }

        th:nth-child(1), td:nth-child(1) {
            width: 20px; /* Cột đầu tiên */
        }

        th:nth-child(2), td:nth-child(2) {
            width: 130px; /* Cột thứ hai */
        }

        th:nth-child(3), td:nth-child(3) {
            width: 5px; /* Cột thứ ba */
        }

    th {
        background-color: rgba(39, 162, 58, 0.8);
    }

   
    .congviec {
        position: absolute;
        top: 120px; /* Adjust the top value to move the label up or down */
        left: 0px; /* Adjust the left value to move the label left or right */
    }
    .date{
        position: absolute;
        height: 60px;
        width: 300px;
        top: 5px; /* Adjust the top value to match the label position */
        left: 300px; /* Adjust the left value to align with the label */
        font-size: 20px;
    }
    .ngaylam{
        position: absolute;
        top: 10px; /* Adjust the top value to match the label position */
        left: 0px; /* Adjust the left value to align with the label */
    }
    #MaCongViec {
        position: absolute;
        top: 100px; /* Adjust the top value to match the label position */
        left: 300px;
        /* Adjust the left value to align with the label */
        height: 60px;
        font-size: 20px;
    }
    .form-control {
        width: 50%; /* Tăng độ rộng của combobox */
        height:50%;
    }

    .form-group .form-element {
        padding: 10px; /* Khoảng cách bên trong phần tử */
        margin: 5px 0; /* Khoảng cách bên ngoài phần tử */
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .btn {
        width: 100%;
          height: 100%;
    }

    input[type="checkbox"] {
        width: 20px; 
        height: 20px; 
    }
    body {
        margin: 0;
        line-height: normal;
    }

    :root {
        /* fonts */
        --font-inter: Inter;
        --font-irish-grover: "Irish Grover";
        /* font sizes */
        --font-size-3xl: 22px;
        --font-size-xl: 20px;
        --font-size-31xl: 50px;
        --font-size-11xl: 30px;
        --font-size-21xl: 40px;
        --font-size-5xl: 24px;
        --font-size-29xl: 48px;
        /* Colors */
        --color-white: #fff;
        --color-darkslategray: rgba(48, 46, 46, 0.89);
        --color-honeydew: #e2ffe1;
        --color-black: #000;
        --color-forestgreen-100: #31a227;
        --color-forestgreen-200: rgba(39, 162, 58, 0.8);
        --color-forestgreen-300: rgba(49, 162, 39, 0.8);
        --color-limegreen: #2dd01e;
        /* Border radiuses */
        --br-3xs: 10px;
        --br-8xs: 5px;
        --br-xl: 20px;
    }
</style>
<body>
    <div class="qun-l-cng-vic-xem-lch-l">
        <div class="qun-l-cng-vic-xem-lch-l-child"></div>
        <div class="binh-minh-hotel-parent2">
            <div class="binh-minh-hotel5">BINH MINH HOTEL</div>
            <div class="rectangle-parent1">
                <div class="group-child9"></div>
                <div class="group-child10"></div>
                <div class="i-mt-khu5" id="iMtKhu">Đổi mật khẩu</div>
                <a asp-controller="Login" asp-action="Logout" class="dang-xuat-link" style="position: absolute; font-weight: 500;
            display: inline-block; top: 13px; right: 45px;">Đăng xuất</a>
            </div>
        </div>
        <img class="istockphoto-1420738401-170667a-icon5"
             alt=""
             src="https://scontent.fdad3-1.fna.fbcdn.net/v/t1.15752-9/434534001_1448732405736076_2728451762103298305_n.png?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeELIMxQW_20PbqvrN_Laesa3i0KWcVikJ_eLQpZxWKQn5ANGfV59GLmC_gCpYHKR6n1pkGFUOFXN7xtrfKYOuxS&_nc_ohc=omjHx4n50lYQ7kNvgEGrgiN&_nc_ht=scontent.fdad3-1.fna&oh=03_Q7cD1QGE8QM12JKsRYENqDdje-3szUmO1E_h_Y4YHuOU5d5AMA&oe=665B1E3E" />

        <div class="thng-tin-c-nhn10">
            <div class="thng-tin-c-nhn-child8"></div>
            <div class="qun-l-h2" id="qunLH">Quản lý hồ sơ</div>
        </div>
        <div class="lch-lm-vic8">
            <div class="lch-lm-vic-child3"></div>
            <div class="qun-l-phng2" id="qunLPhng">Quản lý phòng ban</div>
        </div>
        <div class="qun-l-cng-vic-xem-lch-l-item"></div>
        <div class="qun-l-cng-container2">
            <p class="qun-l-cng3">Quản lý công việc</p>
        </div>
        <div class="qun-l-cng-vic-parent">
            <div class="qun-l-cng4" id="qunLCng">Quản lý công việc</div>
            <div class="xem-lch-lm1">&gt; Xếp lịch làm việc</div>
        </div>
      

       @*  <img class="qun-l-cng-vic-xem-lch-l-inner"
             alt=""
             src="https://d1xzdqg8s8ggsr.cloudfront.net/6634b231c9ce15e41a24b47b/f1dd8684-a9a0-44da-b785-c8904b6e1f78_1715279412456676883?Expires=-62135596800&Signature=PghHyDNLDWZbHVu7vo4ggpIJ9v-0Ix-eGdmYkBnHhcoduYe4jmIsN1AECaROA-Ct1NMem6Mp6DbNaX3YHXsmFHsy4Nu1ohvwDElSU10UA4UFnYNC7xhrmFW9wHEu10VgfJTNdFbPaU05MIGlsvmTE7liMVwJKuiWNYumhhAwiycrBPDzPuD9SbdKhG8Tq43XccnsJju1lmLWc-WS4pyHgnU3JnATWRMLg2IH0SfLxbIc6P3B8bpGAQA6wLCFsyfTkPQ2O7s6tKrBV2YsHzZ-g~zM8Y1bgL1xqM3wCVl58RTbzFggg70nfbeS0dkkQP1vDMXYFaQA9TgnX-b4nzwJTQ__&Key-Pair-Id=K1P54FZWCHCL6J" />
      *@
        <!-- Notification Message -->
        @if (ViewBag.NotificationMessage != null)
        {
            <div class="alert alert-info">
                @ViewBag.NotificationMessage
            </div>
        }

        <!-- Error Message -->
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">
                @ViewBag.ErrorMessage
            </div>
        }

      
        <form id="myForm" action="/Quanly/Sapxepcongviec" method="post">
            <div class="form-group" style="position: absolute; top: 250px; left: 400px; color: black; width: 800px; font-family: Arial, sans-serif; font-size: 30px; height: 70px;gap: 100px;">

                <div class="mytable">
                    <table class="custom-table">
                        <thead>
                            <tr>
                                <th>Mã nhân viên</th>
                                <th>Tên nhân viên</th>
                                <th>Chọn</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (nhanviens != null)
                            {
                                foreach (var nv in nhanviens)
                                {
                                    <tr>
                                        <td>@nv.MaNv</td>
                                        <td>@nv.TenNhanVien</td>
                                        <td>
                                            <input type="checkbox" id="MaNv_@nv.MaNv" name="MaNv" value="@nv.MaNv">
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
               
                <label for="ngayLam" class="ngaylam">Ngày làm:</label>
                <input type="date" class="date" id="NgayLam" name="NgayLam" />

                <label for="congviec" class="congviec">Chọn công việc:</label>
                <select class="form-control" id="MaCongViec" name="MaCongViec">
                    @if (ViewBag.Congviecs != null)
                    {
                        foreach (var cv in ViewBag.Congviecs)
                        {
                            if (cv != null)
                            {
                                <option value="@cv.MaCongViec">@cv.ChiTietCongViec - @cv.CaLam</option>
                            }
                        }
                    }
                </select>


            
              

            </div>
            <button type="submit" class="btn-primary" > Xếp lịch</button>
            <button type="submit" class="huy"> Hủy</button>
        </form>
        <div class="thng-tin-c-nhn11">
            <div class="thng-tin-c-nhn-child9"></div>
        </div>
        <img class="n-1-icon5"
             alt=""
             src="https://scontent.fdad3-6.fna.fbcdn.net/v/t1.15752-9/435130161_653072980295404_4271028034475173711_n.png?_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeG8tk7KTjd7wcwF73zG-ynne93imBE8o2Z73eKYETyjZo30U7apSA5kMEvsTjqngkAAgoe4i1Cp2ORyFPureElV&_nc_ohc=-iM-PodUooYQ7kNvgH1xpYI&_nc_ht=scontent.fdad3-6.fna&oh=03_Q7cD1QGt1yGXxBJ2aN6rnikrioL4A70c21EVcZ7azsHq3fbtgg&oe=665B1BA9" />


        <b class="user021">User02</b>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#myForm').submit(function (event) {
                event.preventDefault(); // Ngăn chặn việc gửi yêu cầu mặc định

                // Gửi yêu cầu Ajax
                $.ajax({
                    url: '/Quanly/Sapxepcongviec', // Đường dẫn đến controller action
                    type: 'POST',
                    data: $(this).serialize(), // Dữ liệu gửi đi từ form
                    success: function (response) {
                        if (response.success) {
                            // Hiển thị thông báo thành công nếu thành công
                            alert(response.message);
                            window.location.reload(); // Tải lại trang (tùy chọn)
                        } else {
                            // Hiển thị thông báo lỗi nếu có lỗi
                            alert(response.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        // Xử lý lỗi nếu không thể gửi yêu cầu
                        console.error('Lỗi:', error);
                        alert('Có lỗi khi gửi yêu cầu.');
                    }
                });
            });
        });
        var iMtKhu = document.getElementById("iMtKhu");
        if (iMtKhu) {
            iMtKhu.addEventListener("click", function (e) {
                // Please sync "Đổi mật khẩu - ql" to the project
            });
        }
   

        var qunLH = document.getElementById("qunLH");
        if (qunLH) {
            qunLH.addEventListener("click", function (e) {
                window.location.href = "https://localhost:7221/Quanly/quanlyhoso";
            });
        }

        var qunLPhng = document.getElementById("qunLPhng");
        if (qunLPhng) {
            qunLPhng.addEventListener("click", function (e) {
                window.location.href = "https://localhost:7221/Quanly/Phongban";
            });
        }

        var qunLCng = document.getElementById("qunLCng");
        if (qunLCng) {
            qunLCng.addEventListener("click", function (e) {
                window.location.href = "https://localhost:7221/Quanly/Quanlycongviec";
            });
        }
    </script>
</body>
</html>