@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./index.css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Irish Grover:wght@400&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        .trang-ch-k-ton-child {
            position: absolute;
            top: 400px;
            left: 0;
            background-color: rgba(39, 162, 58, 0.8);
            width: 289px;
            height: 624px;
            overflow: hidden;
        }

        .binh-minh-hotel {
            position: absolute;
            top: 0;
            left: 148px;
            display: inline-block;
            width: 279px;
            height: 111px;
        }

        .group-child,
        .group-inner,
        .group-item {
            position: absolute;
            top: 0;
            left: 0;
            border-radius: var(--br-3xs);
            background-color: var(--text-2);
            border: 1px solid var(--color-black);
            box-sizing: border-box;
            width: 160px;
            height: 50px;
        }

        .group-inner,
        .group-item {
            left: 170px;
        }

        .group-inner {
            left: 340px;
            width:135px;
        }

        .i-mt-khu,
        .ng-xut,
        .trang-ch {
            position: absolute;
            top: 13px;
            left: 33px;
            font-weight: 500;
            display: inline-block;
            width: 116px;
            height: 28px;
        }

        .i-mt-khu,
        .ng-xut {
            left: 191px;
            width: 134px;
            cursor: pointer;
        }

        .ng-xut {
            left: 372px;
            width: 116px;
        }

        .group-wrapper,
        .rectangle-parent {
            position: absolute;
            top: 0;
            left: 0;
            width: 500px;
            height: 50px;
        }

        .group-wrapper {
            top: 35px;
            left: 900px;
            font-size: var(--font-size-xl);
            color: var(--color-black);
            font-family: var(--font-inter);
        }

        .binh-minh-hotel-parent {
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(49, 162, 39, 0.8);
            width: 1550px;
            height: 120px;
            overflow: hidden;
            font-size: 50px;
            font-family: var(--font-irish-grover);
        }

        .istockphoto-1420738401-170667a-icon {
            position: absolute;
            top: 13px;
            left: 15px;
            width: 107px;
            height: 96px;
            object-fit: cover;
        }

        .cho-mng-bn {
            position: absolute;
            top: 140px;
            left: 310px;
            font-size: 48px;
            color: var(--color-black);
            display: inline-block;
            width: 800px;
            height: 58px;
        }

        .trang-ch-k-ton-item {
            position: absolute;
            top: 229px;
            left: 719px;
            border-radius: var(--br-xl);
            background-color: var(--text-2);
            width: 500px;
            height: 150px;
        }

        .trang-ch-k-ton-inner {
            position: absolute;
            top: 246px;
            left: 739px;
            border-radius: var(--br-8xs);
            background-color: var(--color-limegreen);
            border: 1px solid var(--color-black);
            box-sizing: border-box;
            width: 460px;
            height: 54px;
        }

        .rectangle-div {
            position: absolute;
            top: 308px;
            left: 739px;
            border-radius: var(--br-8xs);
            background-color: var(--text-2);
            border: 1px solid var(--color-black);
            box-sizing: border-box;
            width: 460px;
            height: 54px;
        }

        .chm-cng {
            position: absolute;
            top: 311px;
            left: 835px;
            color: var(--color-black);
            display: inline-block;
            width: 282px;
            height: 48px;
        }

        .thng-tin-c-nhn-child {
            position: absolute;
            top: 0;
            left: 0;
            background-color: var(--color-darkslategray);
            width: 289px;
            height: 90px;
        }

        .xem-thng-tin {
            position: absolute;
            top: 20px;
            left: 66px;
            font-weight: 500;
            display: inline-block;
            width: 154px;
            height: 59px;
            cursor: pointer;
        }

        .thng-tin-c-nhn {
            position: absolute;
            top: 220px;
            left: 0;
            width: 289px;
            height: 90px;
            text-align: center;
            font-size: var(--font-size-3xl);
        }

        .bng-lng1 {
            margin: 0;
        }

        .bng-lng {
            position: absolute;
            top: 29px;
            left: 81px;
            font-weight: 500;
            display: inline-block;
            width: 147.9px;
            height: 40px;
            cursor: pointer;
        }

        .lch-lm-vic {
            position: absolute;
            top: 310px;
            left: 0;
            width: 289px;
            height: 90px;
            font-size: var(--font-size-3xl);
        }

      

        .k-ton {
            position: absolute;
            top: 311px;
            left: 429px;
            color: var(--color-black);
            display: inline-block;
            width: 150px;
            height: 48px;
        }

        .thng-tin-c-nhn-item,
        .thng-tin-c-nhn1 {
            position: absolute;
            left: 0;
            width: 289px;
            height: 100px;
        }

        .thng-tin-c-nhn-item {
            top: 0;
            background-color: var(--color-darkslategray);
        }

        .thng-tin-c-nhn1 {
            top: 120px;
            cursor: pointer;
        }

        .user03 {
            position: absolute;
            top: 158px;
            left: 158px;
            font-size: var(--font-size-3xl);
            display: inline-block;
            text-align: right;
            width: 86px;
            height: 24px;
        }

        .n-1-icon {
            position: absolute;
            top: 134px;
            left: 58px;
            width: 75px;
            height: 75px;
            object-fit: cover;
        }

        .dang-xuat-link {
            position: absolute;
            top: 45px;
            right: 140px;
            font-weight: 500;
            display: inline-block;
            font-size: var(--font-size-xl); /* Điều chỉnh kích thước chữ */
            color: black; /* Màu chữ */
            font-family: var(--font-inter); /* Kiểu font chữ */
            text-decoration: none; /* Loại bỏ gạch chân */
        }

        .trang-ch-k-ton {
            width: 100%;
            position: relative;
            height: 1024px;
            overflow: hidden;
            background-image: url(https://scontent.fdad3-1.fna.fbcdn.net/v/t1.15752-9/435229924_1387605835555899_1676943816951711557_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeH-hduBPulx8BUfEDVtA6eeAnEj3tDXrhwCcSPe0NeuHCIB5UgzYlt5zBgKQ2bQ3LL2aUd92XNbkmUq7xUHA-XE&_nc_ohc=nYt1abA6-owQ7kNvgHCBgnX&_nc_ht=scontent.fdad3-1.fna&oh=03_Q7cD1QH8bJYqnFQFcrfNbjaTD5AoBllYDfpYGwcaQz5M77ELCA&oe=665B195D);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top;
            text-align: left;
            font-size: var(--font-size-21xl);
            color: var(--text-2);
            font-family: var(--font-inter);
        }
    </style>
    <style>
        body {
            margin: 0;
            line-height: normal;
        }

        :root {
            /* fonts */
            --font-inter: Inter;
            --font-irish-grover: "Irish Grover";
            /* font sizes */
            --font-size-3xl: 22px;
            --font-size-21xl: 40px;
            --font-size-xl: 20px;
            /* Colors */
            --text-2: #fff;
            --color-darkslategray: rgba(48, 46, 46, 0.89);
            --color-black: #000;
            --color-limegreen: #2dd01e;
            /* Border radiuses */
            --br-8xs: 5px;
            --br-xl: 20px;
            --br-3xs: 10px;
        }

        .chart-container {
            position: absolute;
            top: 200px;
            left: 400px;
            width: 1000px;
            height: 500px;
            background-color: white;
        }

        canvas {
            width: 100% !important;
            height: 100% !important;
        }
        .bdo
        {
            position: absolute;
            top: 140px;
            left: 400px;
            font-size:28px;
        }
    </style>
</head>
<body>
    <div class="trang-ch-k-ton">
        <div class="trang-ch-k-ton-child"></div>
        <div class="binh-minh-hotel-parent">
            <div class="binh-minh-hotel">BINH MINH HOTEL</div>
            <div class="group-wrapper">
                <div class="rectangle-parent">
                    <div class="group-child"></div>
                    <div class="group-item"></div>
                    <div class="group-inner"></div>
                    <div class="trang-ch">Trang chủ</div>
                    <div class="i-mt-khu" id="iMtKhu">Đổi mật khẩu</div>
                    <a asp-controller="Login" asp-action="Logout" class="dang-xuat-link" style="position: absolute; font-weight: 500;
            display: inline-block; top: 13px; right: 45px;">Đăng xuất</a>
                </div>
            </div>
        </div>
        <img class="istockphoto-1420738401-170667a-icon"
             alt=""
             src="https://scontent.fdad3-1.fna.fbcdn.net/v/t1.15752-9/434534001_1448732405736076_2728451762103298305_n.png?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeELIMxQW_20PbqvrN_Laesa3i0KWcVikJ_eLQpZxWKQn5ANGfV59GLmC_gCpYHKR6n1pkGFUOFXN7xtrfKYOuxS&_nc_ohc=omjHx4n50lYQ7kNvgEGrgiN&_nc_ht=scontent.fdad3-1.fna&oh=03_Q7cD1QGE8QM12JKsRYENqDdje-3szUmO1E_h_Y4YHuOU5d5AMA&oe=665B1E3E" />

        <div class="thng-tin-c-nhn">
            <div class="thng-tin-c-nhn-child"></div>
            <div class="xem-thng-tin" id="xemThngTin">
                Xem thông tin lương cơ bản
            </div>
        </div>
        <div class="lch-lm-vic">
            <div class="thng-tin-c-nhn-child"></div>
            <div class="bng-lng" id="bngLngText">
                <p class="bng-lng1">Bảng lương</p>
            </div>
        </div>
       
        <div class="thng-tin-c-nhn1" id="thngTinCNhn1">
            <div class="thng-tin-c-nhn-item"></div>
        </div>
        <b class="user03">@ViewData["Message"]</b>
        <img class="n-1-icon"
             alt=""
             src="https://scontent.fdad3-6.fna.fbcdn.net/v/t1.15752-9/435130161_653072980295404_4271028034475173711_n.png?_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeG8tk7KTjd7wcwF73zG-ynne93imBE8o2Z73eKYETyjZo30U7apSA5kMEvsTjqngkAAgoe4i1Cp2ORyFPureElV&_nc_ohc=-iM-PodUooYQ7kNvgH1xpYI&_nc_ht=scontent.fdad3-6.fna&oh=03_Q7cD1QGt1yGXxBJ2aN6rnikrioL4A70c21EVcZ7azsHq3fbtgg&oe=665B1BA9" />
    </div>
   <div>
        <label class="bdo">Biểu đồ khoảng chi phí trả lương cho nhân viên tháng @string.Format("{0:MM/yyyy}", ViewData["thang"])</label>
    </div>
    <div class="chart-container">
        <canvas id="myChart"></canvas>
    </div>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar', // loại biểu đồ: bar, line, pie, etc.
            data: {
                labels: ['Lương cơ bản', 'Phụ cấp', 'Thưởng', 'Phạt'],
                datasets: [{
                    label: 'Chi phí (VND)',
                    data: [@ViewData["lcb"], @ViewData["pc"], @ViewData["thuong"], @ViewData["phat"]],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)'
                        
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)'
                        
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
    <script>
        var iMtKhu = document.getElementById("iMtKhu");
        if (iMtKhu) {
            iMtKhu.addEventListener("click", function (e) {
                // Please sync "Đổi mật khẩu - kt" to the project
            });
        }
                var xemThngTin = document.getElementById("xemThngTin");
        if (xemThngTin) {
            xemThngTin.addEventListener("click", function (e) {
                window.location.href = "/Ketoan/xemthongtinluong"
            });
        }

        var bngLngText = document.getElementById("bngLngText");
        if (bngLngText) {
            bngLngText.addEventListener("click", function (e) {
                window.location.href = "/Ketoan/bangluong"
            });
        }

        var thngTinCNhn1 = document.getElementById("thngTinCNhn1");
        if (thngTinCNhn1) {
            thngTinCNhn1.addEventListener("click", function (e) {
                window.location.href = "/Ketoan/bangluong"
            });
        }
    </script>
</body>
</html>
